<h4>Edit Photographer</h4>
<div>
  <label>Photographer Name:</label>
  <input [(ngModel)]="selectedPhotographer.name" class="form-control">
</div>

<div>
  <label>Photographer Pic:</label>
  <input [(ngModel)]="selectedPhotographer.pic" class="form-control">
</div>

<div>
  <label>Photographer Format (Preferred Medium):</label>
  <select class="form-control input-lg" [(ngModel)]="selectedPhotographer.format">
       <option value="Film">Film</option>
       <option value="Digital">Digital</option>
       <option value="Mixed">Mixed</option>
  </select>
</div>

<div>
  <label>Photographer Bio:</label>
  <textarea [(ngModel)]="selectedPhotographer.bio" class="form-control"></textarea>
</div>

<div>
  <label>Photographer Website:</label>
  <input [(ngModel)]="selectedPhotographer.website" class="form-control">
</div>

<button (click)="beginUpdatingPhotographer(selectedPhotographer)" class="btn btn-warning btn-lg margin">Update</button>
<button (click)="beginDeletingPhotographer(selectedPhotographer)" class="btn btn-danger btn-lg margin">Delete</button>
