<div class="panel">
  <h2>View Photographers by Format</h2>
  <select class="form-control input-lg" (change)="onChange($event.target.value)">
       <option value="All" selected="selected">All</option>
       <option value="Film">Film</option>
       <option value="Digital">Digital</option>
       <option value="Mixed">Mixed</option>
  </select>
</div>
<div *ngFor="let photographer of photographers | async | format:filterByFormat">
  <div class="panel panel-info">
    <div class="panel-body">
      <h3 (click)="goToDetailPage(photographer)" class="cursor">
        {{photographer.name}}
      </h3>

      <p>
        <img src="{{photographer.pic}}" class="grow" alt="" />
      </p>
      <div *ngIf="currentRoute === '/admin'">

          <h2>
            Bio:
          </h2>
          <h3>{{photographer.bio}}</h3>
          <h2>
            Format (Preferred Medium): {{photographer.format}}
          </h2>

          <h2>
            Site:
          </h2>
          <h3>{{photographer.website}}</h3>

          <hr>
          <app-edit-photographer [selectedPhotographer]="photographer"></app-edit-photographer>
    </div>
    </div>
  </div>
</div>
