
<p>
  If you don’t belong to a camera/photo club/association (etc etc). I highly recommend looking in to at least one.
</p>
<p>

  I am considering joining a second one because I have that option close by. Since I joined the Cascade Camera Club my skill level has grown immeasurably from the kindness of club members. (I'd like to say for the record though, it’s all Abbot’s fault.)
</p>
<p>

  Our camera club has two meetings a month. The first is a critique where we submit images and a pro talks about them. The pros are from different genre of photography so sometimes we get really interesting ideas from artists and such that we would not have thought of.
</p>
<p>
  The second meeting is some kind of presentation on either photography or post-processing techniques. We're always dsicovering new tricks and techniques.
</p>
